<div class="signup_title">Sign up</div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="signup">
        <%= f.label :Image %></br>
        <%= f.file_field :profile_image, style:"background-color: transparent", class:"signupfield2" %>
    </div>

    <div class="signup">
        <%= f.label :Name %></br>
        <%= f.text_field :name, autofocus: true, class:"signupfield" %>
    </div>

      <div class="signup">
        <%= f.label :Email %></br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"signupfield" %>
      </div>

      <div class="signup">
        <%= f.label :Password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"signupfield" %>
      </div>

      <div class="signup">
        <%= f.label :PasswordConfirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"signupfield" %>
      </div>

      <div class="login_btn">
          <%= f.submit "Signup", class:"btn btn-border" %>
      </div>
    <% end %>

     
