<div class="logintitle">Login</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="new_field">
          <%= f.label :Email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "new_field2" %>
      </div>

      <div class="new_field">
          <%= f.label :Password %><br />
          <%= f.password_field :password, autocomplete: "current-password",class: "new_field2" %>
      </div>

      <div class="login_btn">
          <%= f.submit "Log in", class:"btn btn-border" %>
      </div>

    <% end %>

      <div class="new_link">
        <%= render "devise/shared/links" %>
      </div>

