<div class = "container">
     <div class="newpost_title">NewPost</div>


    <div class = col-md-12 ><br>
        <%= form_with model:@post, local:true do |f| %>

      <form>
        <div style="margin-top : 30px">
          <div class="image-postfield">
            <h4><%= f.label :Postimage ,class: "col-md-6" %></br>
              <%= f.attachment_field :image, class:"col-md-6", style:"background-color: transparent" %></h4>
          </div>

          <div class="name-field">
            <h4><%= f.label :Title ,class: "col-md-4" %></br>
            <%= f.text_field :title, autofocus: true, autocomplete: "name" ,placeholder:"タイトル",class: "col-md-7"%></h4>
          </div>
          <div class="description-field">
            <h4><%= f.label :Text ,class: "col-md-4" %></br>
            <%= f.text_area :body, autofocus: true, autocomplete: "introduction" , placeholder:"ここに説明を記述します", class: "col-md-7"%></h4>
          </div>

          </div>
          <div class="text-center">
            <%= f.submit "OK" ,class: "btn-btn-success"%>
          <% end %>
        </form>
     </div>
    </div>
  </div>
 </div>
