<!DOCTYPE html>
<html>
  <head>
    <title>Shares</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'layouts/header' %>
   <div class="container content">
     <%= yield %>
   </div>

   <footer>
       <p>シェアハウスが気になるあなたへ</P>
       <p>shares</p>
      <%#ul class="rogo">
          <li><img src="images/rogo.jpg" alt=""></li>%>
      </ul>
   </footer>
  </body>
</html>
